*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #aad8d3;
    color: #393e46;
    font-family: sans-serif;    
    display: flex;
    justify-content: center;
}

.container{
    background: #00adb5;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
    box-shadow: 15px 15px 20px;
}

.title{
    text-align: center;
    transition: 0.5s all ease;
}

.title:hover{
    transform: scale(1.3);
}

.title span{
    color: #aad8d3;
}

.game-grid{
    background: #393e46;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background: #00adb5;
    font-family: sans-serif;
    font-size: 70px;
    text-align: center;
    padding-top: 10px;
    color: #393e46;
}

.endgame{
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}
.btn{
    border: none;
    background: white;
    padding: 5px 10px;
    border-radius: 14px;
    font-family: sans-serif;
    cursor: pointer;
}

.btn:hover{
    background: #393e46;
    color: white;
}

@media only screen and (max-width: 600px) {
    .game-cell{
        width: 65px;
        height: 65px;
        font-size: 45px;
    }    
}

footer{
    display: block;
    position: absolute;
    bottom: 0;
    padding-bottom: 25px;
}
footer a{
    text-decoration: none;
    color: #393e46;
}
