*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    background-color: #25b3a465;
    color: #545454;
    font-family: "Comic Sans MS", cursive;    
    display: flex;
    justify-content: center;
}

.container{
    background: #14bdac;
    margin: 50px;
    padding: 50px;
    border-radius: 25px;
}

.title{
    text-align: center;
}

.title span{
    color: #F2EBD3;
}

.game-grid{
    background: #0DA192;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 15px;
    margin-top: 50px;
}

.game-cell {
    height: 100px;
    width: 100px;
    cursor: pointer;
    background: #14BDAC;
    font-family: "Comic Sans MS", cursive;
    font-size: 70px;
    text-align: center;
}

.endgame{
    display: none;
    width: 200px;
    top: 120px;
    background-color: rgba(205, 133, 63, 0.8);
    position: absolute;
    left: 50%;
    margin-left: -100px;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    border-radius: 5px;
    color: white;
    font-size: 2em;
}
.btn{
    border: none;
    background: white;
    padding: 5px 10px;
    border-radius: 14px;
    font-family: "Comic Sans MS", cursive;
    cursor: pointer;
}

.btn:hover{
    background: black;
    color: white;
}

@media only screen and (max-width: 600px) {
    .game-cell{
        width: 75px;
        height: 75px;
        font-size: 55px;
    }    
  }
